.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 90%;
}
.mat-hint {
    color: solid black;
    color: black;
    font-size: initial;
}

form{
    position: absolute;
    top: 1000%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #4e4c4c;
    border-radius: 10px;
    width: 450px;
    height: 500px;
    padding: 25px;
    background: rgb(255, 255, 255);
}
button.btn.btn-primary {
    background: #4971f6;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 6px;
    margin: 30px 0 30px 306px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
}
button.btn.btn-primary:hover{ filter: brightness(80%);
  transform: scale(1);
  z-index: 100;
}
