<div fxFlex=100 fxLayoutAlign="center center" style="border:1px solid black">
    <mat-card fxFlex=50 fxLayout="row" fxLayoutAlign="center center">
        <form fxFlex="row" [formGroup]="Forgetpassword" (ngSubmit)=" ForgetPassword()">
            <div fxFlex=100 fxLayout="column">

                <div style="text-align:center;">
                    <h3 style="font-size: 25px; font-style: inherit">
                        <span style="color: rgb(9, 137, 196)">F</span>
                        <span style="color: rgb(216, 65, 65)">u</span>
                        <span style="color: rgb(219, 154, 32)">n</span>
                        <span style="color: rgb(209, 26, 117)">d</span>
                        <span style="color: rgb(142, 151, 14)">o</span>
                        <span style="color: rgb(39, 193, 78)">o</span>
                        <span style="color: rgb(14, 197, 213)">N</span>
                        <span style="color: rgb(203, 78, 15)">o</span>
                        <span style="color: rgb(22, 111, 99)">t</span>
                        <span style="color: rgb(102, 9, 164)">e</span>
                    </h3>
                </div>
                <div style="text-align:center;margin-bottom: 20px;">
                    <span style="font-size: 25px;">Find your email</span>
                </div>
                <div style="text-align:center;margin-bottom: 30px;">
                    <mat-hint>Enter your phone number or recovery email</mat-hint>
                </div>

                <div>
                    <mat-form-field appearance="outline" style="padding-left:20px">
                        <mat-label>Email Or Phone Number</mat-label>
                        <input matInput placeholder="Email Or Phone Number" formControlName="EmailOrPhoneNumber">
                        <mat-error>Email Or Phone Number is Required</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary">Next</button>
                </div>
            </div>
        </form>
    </mat-card>
</div>